@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using BookCave.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}
   
    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
            <img src="~/images/logo.png" alt="Book Cave logo">
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Book" asp-action="Top10">Top 10 Books</a>
                </li>

                <li class="nav-item">
                    <a asp-controller="Search" asp-action="Results" class="nav-link">View all books</a>
                </li>

            </ul>

            <!-- Right -->
            <ul class="navbar-nav">
                <!-- Search button -->
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Search" asp-action="Index">
                        <i class="icon fa fa-search"></i> Search
                    </a>
                </li>

                <!-- Shopping Basket -->
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Cart" asp-action="Index" mdbWavesEffect>
                        <i class="icon fa fa-shopping-cart"></i> Cart
                    </a>
                </li>

                <!-- Account stuff -->
                <li class="nav-item dropdown">
                    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect id="navbarDropdownMenuLink" data-toggle="dropdown">
                        <i class="icon fa fa-user"></i>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <span id="VerySpecificIdBecauseThisIsOnAllPages">@user.FirstName @user.LastName</span>
                            }
                            <span class="caret"></span>
                        </a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary">
                        @await Html.PartialAsync("_accountDropdown.cshtml")
                    </div>
                </li>
                </li>

            </ul>

        </div>
    </div>

