<!DOCTYPE html>
<html lang="en" class="full-height")>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>The Book Cave</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/mdb/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/mdb/css/mdb.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/layout.css" />

</head>
<body class="grey lighten-4">

@{
     var controller = ViewContext.RouteData.Values["Controller"].ToString().ToLower();
     var action = ViewContext.RouteData.Values["Action"].ToString().ToLower();

     if (controller == "home" && action == "index"){
         <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar rgba-black-strong">
            @await Html.PartialAsync("_headerbody.cshtml");
         </nav>
     } else {
         <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar unique-color-dark animated fadeIn">
            @await Html.PartialAsync("_headerbody.cshtml");
         </nav>
     }
}


  <!-- Render Body -->
  @RenderBody()

  <!-- Render footer -->
  @await Html.PartialAsync("_footer.cshtml")
   
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous" charset="utf-8"></script>
  <script type="text/javascript" src="~/lib/mdb/js/jquery-3.2.1.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="~/lib/mdb/js/popper.min.js"></script>
  <script type="text/javascript" src="~/lib/mdb/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="~/lib/mdb/js/mdb.min.js"></script>
  <script type="text/javascript" src="~/js/site.js"></script>

  @{

    if (controller == "user")
    {
        <script type="text/javascript" src="~/js/UserControllerJQ.js"></script>
    }
    else if (controller == "cart")
    {
        <script type="text/javascript" src="~/js/CartControllerJQ.js"></script>
    }
    else if(controller == "search")
    {
        <script type="text/javascript" src="~/js/SearchControllerJQ.js"></script>
    }
    else if(controller == "checkout")
    {
        <script type="text/javascript" src="~/js/CheckOutControllerJQ.js"></script>
    }
  }
  
  @RenderSection("Scripts", required: false)


<script>
</script>
</body>
</html>
