<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.PageTitle</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/mdb/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/mdb/css/mdb.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/layout.css" />

</head>
<body>

  <!-- Render header (special header for HomeController) -->
  @{
    var controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    
    if (controller == "home")
    {
        @await Html.PartialAsync("_headerFrontPage.cshtml");
    }
    else
    {
        @await Html.PartialAsync("_header.cshtml");
    }

  }

  <!-- Render Body -->
  @RenderBody()

  <!-- Render footer -->
  @await Html.PartialAsync("_footer.cshtml")
   
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="~/lib/mdb/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="~/lib/mdb/js/popper.min.js"></script>
  <script type="text/javascript" src="~/lib/mdb/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="~/lib/mdb/js/mdb.min.js"></script>
  <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>

  @{

    if (controller == "user")
    {
        <script type="text/javascript" src="~/js/UserControllerJQ.js"></script>
    }
    else if (controller == "cart")
    {
        <script type="text/javascript" src="~/js/CartControllerJQ.js"></script>
    }
    else if(controller == "search")
    {
        <script type="text/javascript" src="~/js/SearchControllerJQ.js"></script>
    }
    else if(controller == "checkout")
    {
        <script type="text/javascript" src="~/js/CheckOutControllerJQ.js"></script>
    }
  }
  
  @RenderSection("Scripts", required: false)
</body>
</html>
