<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><!--@ViewBag.Title-->Hey Guy</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/mdb/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/mdb/css/mdb.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>

    @RenderBody()


    <script type="text/javascript" src="~/lib/mdb/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/lib/mdb/js/popper.min.js"></script>
    <script type="text/javascript" src="~/lib/mdb/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/lib/mdb/js/mdb.min.js"></script>
    <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>
    
    @RenderSection("Scripts", required: false)
</body>
</html>
