@model BookCave.Models.ViewModels.AccountViewModel

@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using BookCave.Models

@inject SignInManager<ApplicationUser> SignInManager

@{
    var nameClaim = ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(c => c.Type == "Name")?.Value;
}

<div class="container body-container">
    <div class="card container">
        <!-- Row 1 -->
        <div class="row justify-content-center mt-3">
            <!-- Column 1 -->
            <div class="col-lg-4">
                <!-- Card Wider -->
                <div class="card card-cascade wider">

                <!-- Card image -->
                <div class="view overlay" id="EditImage">
                    <img height="250px" width="100%" style="object-fit:fill" class="card-img-top" src="data:image/jpg;base64, @Convert.ToBase64String(@Model.Image)" alt="Profile Picture">
                    <div class="mask flex-center rgba-white-strong">
                        <p class="black-text">Edit Image</p>
                    </div>
                </div>

                <!-- Card content -->
                <div class="card-body text-center">

                    <!-- Title -->
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="card-body ">
                            <!-- Name -->
                            <h4 id="UserName" class="card-title mb-0">@nameClaim</h4>
                            <form id="ChangeNameInput">
                                <input type="text" id="UserFirstNameInput" class="form-control" placeholder="New First Name" required>
                                <input type="text" id="UserLastNameInput" class="form-control" placeholder="New Last Name" required>
                                <a id="CancelNameChange" class="btn-floating btn-sm red"><i class="fa fa-window-close"></i></a>
                                <a id="AcceptNameChange" class="btn-floating btn-sm green"><i class="fa fa-check"></i></a>
                            </form>
                        </div>
                    }

                    <!-- Button -->
                    <button id="ChangeUserName" type="button" class="btn btn-elegant mt-3"><i class="fa fa-user-o pr-2" aria-hidden="true"></i>Change Name</button>
                    <!-- Button -->

                </div>

                </div>
                <!-- Card Wider -->
            </div>
            <!-- Column 1 -->
        </div>
        <!-- Row 1 -->

        <!-- Row 2 -->
        <div class="row mt-4 justify-content-center">
            <div class="col-lg-5">
                <!--Table-->
                <table class="table table-bordered table-hover">

                    <!--Table head-->
                    <thead class="thead-dark">
                        <tr>
                            <th>Personal</th>
                        </tr>
                    </thead>
                    <!--Table head-->

                    <!--Table body-->
                    <tbody class="hover-pointer accountBody">
                        <tr id="togglePasswordModal">
                            <td>Change Password</td>
                        </tr>
                        <tr id="ViewFavBook">
                            <td>My Favorite Book</td>
                        </tr>
                        <tr>
                            <td>I don't do anything</td>
                        </tr>
                        <tr>
                            <td>Payment Options</td>
                        </tr>
                    </tbody>
                    <!--Table body-->

                </table>
                <!--Table-->
            </div>
            <div class="col-lg-4">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Purchases</th>
                        </tr>
                    </thead>
                    <tbody class="hover-pointer accountBody">

                        <tr>
                            <td class="shipping-billing-button-style"><a asp-controller="User" asp-action="EditSippingBilling" class="shipping-billing-button-style">Change Shipping/Billing Information</a></td>
                        </tr>

                        <tr>
                            <td>Order History</td>
                        </tr>

                        <tr>
                            <td>Cart</td>
                        </tr>

                        <tr>
                            <td>Wish List</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- MODAL Change password -->
<div class="modal fade" id="modalChangePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Change Password</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" id="oldPassword" class="form-control validate">
                    <label for="oldPassword">Your old password</label>
                </div>

                <div class="md-form mb-4">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" id="newPassword" class="form-control validate">
                    <label for="newPassword">Your new password</label>
                </div>

                <div class="md-form mb-4">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" id="confirmPassword" class="form-control validate">
                    <label for="confirmPassword">Confirm new password</label>
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button id="changePassword" class="btn btn-default">Change Password</button>
            </div>
        </div>
    </div>
</div>
<!-- MODAL Change password -->

<!-- MODAL Favorite Book -->
<div class="modal fade" id="modalFavoriteBook" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="favorite-Book">

            <div class="row">
                <div class="col un-center" id="FavoriteBookImg">
                    <img width="150rem" height="150rem" class="mt-5 ml-3 mb-5" id="errorImage" src="~/images/errorImg.png">
                </div>

                <div class="col justify-content-center text-left un-center" id="FavoriteBookInfo">

                </div>
            </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
            <button class="btn btn-default">Close</button>
        </div>
    </div>
</div>
</div>
<!-- MODAL Favorite Book -->


<!-- MODAL success info -->
<div class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-success" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead">Succsess!!!</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                    <p>Your action was executed succsessfully</p>
                </div>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Close</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- MODAL success info-->

<!-- MODAL fail warning-->
<div class="modal fade left" id="ModalWarning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning modal-dialog-centered" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading">Warning</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">

                <div class="row">
                    <div class="col-9">
                        <p>Wrong password</p>
                        <p class="card-text"><strong>You entered a wrong old password or new and confirm password was not the same</strong></p>
                    </div>
                </div>

            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Close</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- MODAL fail warning-->

<!-- Modal processing -->
<div class="modal fade" id="processingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title" id="exampleModalLabel">Processing...</h4>
            </div>
            <div class="modal-body text-center">

                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                    <div class="spinner-layer spinner-red">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                    <div class="spinner-layer spinner-yellow">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                    <div class="spinner-layer spinner-green">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Modal processing -->

<!-- Modal change image -->

<div class="modal fade" id="UploadImageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="md-form" asp-controller="User" asp-action="ChangeImage" enctype="multipart/form-data" method="POST">
                <div class="modal-body mb-3">
                    <div class="file-field">
                        <a class="btn-floating blue-gradient mt-0 float-left">
                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                            <input asp-for="NewImage" type="file" accept="image/jpeg">
                        </a>
                        <div class="file-path-wrapper">
                        <input class="file-path validate form-control" type="text" placeholder="Upload your image" disabled>
                        </div>
                    </div>
                    
                    <div class="modal-footer text-center">
                        <button id="submitImage" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
</div>

<!-- Modal change image -->

<!-- MODAL fail warning for user name-->
<div class="modal fade left" id="ModalWarningUserName" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning modal-dialog-centered" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading">Warning</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">

                <div class="row">
                    <div class="col-9">
                        <p>Both fields are required!</p>
                        <p class="card-text"><strong>You must enter your first name and last name!</strong></p>
                    </div>
                </div>

            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Close</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- MODAL fail warning for user name-->
