@model BookCave.Models.InputModels.ShippingBillingInputModel

<div class="container body-container">
    <!-- Row 1 -->
    <div class="row justify-content-center">
        <!-- Column 1 -->
        <div class="col-lg-4">
            <!-- Card -->
            <div class="card testimonial-card">

                <!-- Bacground color -->
                <div class="card-up blue-gradient lighten-1">
                </div>

                <!-- Avatar -->
                <div class="avatar mx-auto white">
                    <div class="view overlay">
                        <img src="~/images/default_pic.jpg" class="rounded-circle" alt="Johnny boy default pic">
                        <div class="mask flex-center rgba-white-strong">
                            <p class="black-text">Edit Image</p>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <!-- Name -->
                    <h4 class="card-title">User Name</h4>
                    <hr>
                </div>
            </div>
            <!-- Card -->
        </div>
        <!-- Column 1 -->
    </div>
    <!-- Row 1 -->

    <!-- Row 2 -->
    <div class="row mt-4 justify-content-center">
        <div class="col-lg-5">
            <!--Table-->
            <table class="table table-hover">

                <!--Table head-->
                <thead class="thead-dark">
                    <tr>
                        <th>Personal</th>
                    </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody class="hover-pointer">
                    <tr id="togglePasswordModal">
                        <td>Change Password</td>
                    </tr>
                    <tr id="ViewFavBook">
                        <td>My Favorite Book</td>
                    </tr>
                    <tr>
                        <td id="changeShippingBilling">Change Shipping/Billing Information</td>
                    </tr>
                    <tr>
                        <td>Payment Options</td>
                    </tr>
                </tbody>
                <!--Table body-->

            </table>
            <!--Table-->
        </div>
        <div class="col-lg-4">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Purchases</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <ul>
                                <li>Order history</li>
                                <li>Cart</li>
                                <li>Wish List</li>
                                <li>Review My Books</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Row 2 -->

</div>

<!-- MODAL Change password -->
<div class="modal fade" id="modalChangePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Change Password</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" id="oldPassword" class="form-control validate">
                    <label for="oldPassword">Your old password</label>
                </div>

                <div class="md-form mb-4">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" id="newPassword" class="form-control validate">
                    <label for="newPassword">Your new password</label>
                </div>

                <div class="md-form mb-4">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" id="confirmPassword" class="form-control validate">
                    <label for="confirmPassword">Confirm new password</label>
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button id="changePassword" class="btn btn-default">Change Password</button>
            </div>
        </div>
    </div>
</div>
<!-- MODAL Change password -->

<!-- MODAL Favorite Book -->
<div class="modal fade" id="modalFavoriteBook" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="favorite-Book">

            <div class="row">
                <div class="col un-center" id="FavoriteBookImg">
                    <img class="img-fluid mt-5 ml-3" id="errorImage" src="~/images/errorImg.png">
                </div>

                <div class="col justify-content-center text-left un-center" id="FavoriteBookInfo">

                </div>
            </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
            <button class="btn btn-default">Close</button>
        </div>
    </div>
</div>
</div>
<!-- MODAL Favorite Book -->


<!-- MODAL success info -->
<div class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-success" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead">Succsess!!!</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true" class="white-text">&times;</span>
                                        </button>
            </div>

            <!--Body-->
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                    <p>Your action was executed succsessfully</p>
                </div>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Close</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- MODAL success info-->

<!-- MODAL fail warning-->
<div class="modal fade left" id="ModalWarning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning modal-dialog-centered" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading">Warning</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">

                <div class="row">

                    <div class="col-9">
                        <p>Wrong password</p>
                        <p class="card-text"><strong>You entered a wrong old password or new and confirm password was not the same</strong></p>
                    </div>
                </div>

            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Close</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- MODAL fail warning-->

<!-- MODAL Change shipping and billing -->
<div class="modal fade" id="editShippingBilling" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form asp-controller="User" asp-action="AccountInformation" method="POST">
            <div class="modal-content">
                <!-- Modal row 1 -->
                <div class="row">

                    <!-- Shipping Information -->
                    <div class="col mr-3 ml-3">
                        <h3 class="mb-0 mt-3">Shipping Information</h3>

                        <div class="form-check mb-0 mt-3 for-space">
                            <input type="checkbox" class="form-check-input" id="checkbox96847">
                            <label class="form-check-label" for="checkbox96847">Check if same as shipping address</label>
                        </div>

                        <span class="mr-5 font-weight-light text-danger" asp-validation-for="ShippingFirstName"></span>
                        <label asp-for="ShippingFirstName">First Name</label>
                        <input asp-for="ShippingFirstName" type="text" id="ShippingFirstName" class="form-control validate" required>

                        <span class="mr-5 font-weight-light text-danger" asp-validation-for="ShippingLastName"></span>
                        <label asp-for="ShippingLastName">Last Name</label>
                        <input asp-for="ShippingLastName" type="text" id="ShippingLastName" class="form-control validate" required>

                        <span class="mr-5 font-weight-light text-danger" asp-validation-for="ShippingStreetName"></span>
                        <label asp-for="ShippingStreetName">Street</label>
                        <input asp-for="ShippingStreetName" type="text" id="ShippingStreetName" class="form-control validate" required>

                        <span class="mr-5 font-weight-light text-danger" asp-validation-for="ShippingHouseNumber"></span>
                        <label asp-for="ShippingHouseNumber">House Number</label>
                        <input asp-for="ShippingHouseNumber" type="number" id="ShippingHouseNumber" class="form-control validate" required>

                        <span class="mr-5 font-weight-light text-danger" asp-validation-for="ShippingCity"></span>
                        <label asp-for="ShippingCity">City</label>
                        <input asp-for="ShippingCity" type="text" id="ShippingCity" class="form-control validate" required>

                        <span class="mr-5 font-weight-light text-danger" asp-validation-for="ShippingZipCode"></span>
                        <label asp-for="ShippingZipCode">Zip Code</label>
                        <input asp-for="ShippingZipCode" type="text" id="ShippingZipCode" class="form-control validate" required>

                        <span class="mr-5 font-weight-light text-danger" asp-validation-for="ShippingCountry"></span>
                        <label asp-for="ShippingCountry">Country</label>
                        <input asp-for="ShippingCountry" type="text" id="ShippingCountry" class="form-control validate" required>

                    </div>
                    <!-- Shipping Information -->

                    <!-- Billing Information -->
                    <div class="col mr-3 ml-3">
                        <h3 class="mb-0 mt-3">Billing Information</h3>

                        <div class="form-check mb-0 mt-3">
                            <input type="checkbox" class="form-check-input check-for-bill" id="checkbox1">
                            <label class="form-check-label" for="checkbox1">Check if same as shipping address</label>
                        </div>

                        <span class="mr-5 font-weight-light text-danger" asp-validation-for="BillingFirstName"></span>
                        <label asp-for="BillingFirstName">First Name</label>
                        <input asp-for="BillingFirstName" type="text" id="BillingFirstName" class="form-control validate billing-information" required>

                        <span class="mr-5 font-weight-light text-danger" asp-validation-for="BillingLastName"></span>
                        <label asp-for="BillingLastName">Last Name</label>
                        <input asp-for="BillingLastName" type="text" id="BillingLastName" class="form-control validate billing-information" required>

                        <span class="mr-5 font-weight-light text-danger" asp-validation-for="BillingStreetName"></span>
                        <label asp-for="BillingStreetName">Street</label>
                        <input asp-for="BillingStreetName" type="text" id="BillingStreetName" class="form-control validate billing-information" required>

                        <span class="mr-5 font-weight-light text-danger" asp-validation-for="BillingHouseNumber"></span>
                        <label asp-for="BillingHouseNumber">House Number</label>
                        <input asp-for="BillingHouseNumber" type="number" id="BillingHouseNumber" class="form-control validate billing-information" required>

                        <span class="mr-5 font-weight-light text-danger" asp-validation-for="BillingCity"></span>
                        <label asp-for="BillingCity">City</label>
                        <input asp-for="BillingCity" type="text" id="BillingCity" class="form-control validate billing-information" required>

                        <span class="mr-5 font-weight-light text-danger" asp-validation-for="BillingZipCode"></span>
                        <label asp-for="BillingZipCode">Zip Code</label>
                        <input asp-for="BillingZipCode" type="text" id="BillingZipCode" class="form-control validate billing-information" required>

                        <span class="mr-5 font-weight-light text-danger" asp-validation-for="BillingCountry"></span>
                        <label asp-for="BillingCountry">Country</label>
                        <input asp-for="BillingCountry" type="text" id="BillingCountry" class="form-control validate billing-information" required>
                    </div>
                    <!-- Billing Information -->
                </div>
                <!-- Modal Row 1 -->

                <!-- Modal Footer -->
                <div class="row d-flex flex-row-reverse">

                    <div class="modal-footer d-flex justify-content-center">
                        <button type="submit" id="submitShipBill" class="btn btn-default mr-5">Submit Changes</button>
                    </div>

                    <div class="modal-footer d-flex justify-content-center">
                        <button id="BillShipClose" class="btn btn-default">Close</button>
                    </div>

                </div>
                <!-- Modal Footer -->

            </div>
        </form>
    </div>
</div>
<!-- MODAL Change shipping and billing -->

<!-- Modal processing -->
<div class="modal fade" id="processingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title" id="exampleModalLabel">Processing...</h4>
            </div>
            <div class="modal-body text-center">

                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                    <div class="spinner-layer spinner-red">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                    <div class="spinner-layer spinner-yellow">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                    <div class="spinner-layer spinner-green">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Modal processing -->