@model List<BookCave.Models.ViewModels.OrderViewModel>
<div class="container body-container">
    <div class="container card">
        @if(!Model.Any())
        {
            <h1 class="text-center mt-5 mb-5">You have no orders ...</h1>
            <h3 class="text-center mt-5 mb-5">Go shopping! ...</h3>
        }
        else
        {
            <h1 class="text-center mt-5 mb-4">Your Orders</h1>
            <table class="table table-responsive-md text-center">
                <thead class="cyan lighten-3">
                    <tr>
                        <th class="th-lg">Order Number</th>
                        <th class="th-lg">Date Of Purchase</th>
                        <th class="th-lg">Click to View</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var order in Model)
                    {   
                        <tr>
                                <td>@order.Id</td>
                                <td>@order.DateOfPurchase</td>
                                <td>
                                    <a class="btn btn-primary btn-md waves-light viewDetails" data-id="@order.Id">View Details</a>
                                </td>
                        </tr>
                        
                    }
                </tbody>
            </table>
        }
    </div>
</div>

