<div class="container body-container wow fadeIn">

    <div class="card container">
        <h1>Terms and Conditions</h1>

        <p>We have put down terms for your useage of this website if you choose to accept, these terms will apply:</p>
        <ul>
            <li>We have a very bad credit card encryption</li>
            <li>We hereby might sell a third party all your acoount information as well as your credit card</li>
            <li>We take no responsibity in anything</li>
            <li>You can never get any refunds</li>
            <li>If you do not get your book we will not give you a refund, just go and complain to your post office</li>
            <li>If you buy a book we are not conditioned to send it, we may but probably not</li>
            <li>Though a book is displayed on our website doesn't mean it exists</li>
        </ul>

        <a asp-controller="User" asp-action="SignUp" type="button" class="btn btn-default btn-lg btn-block mt-1 mb-1">Go to Sign Up page</a>
    </div>

</div>