<!-- Default form register -->

<div class="row">
    <div class="col-sm-4 offset-sm-4">
<form>
    <p class="h3 text-center mb-4">Add new book</p>

    <!-- Default input name -->
    <label for="defaultFormRegisterNameEx" class="grey-text">Book Title</label>
    <input type="text" id="defaultFormRegisterNameEx" class="form-control">
    
        <label for="defaultFormRegisterNameEx" class="grey-text">Author</label>
    <input type="text" id="defaultFormRegisterNameEx" class="form-control">
    


        <label for="defaultFormRegisterNameEx" class="grey-text">ISBN</label>
    <input type="text" id="defaultFormRegisterNameEx" class="form-control">
    

        <label for="defaultFormRegisterNameEx" class="grey-text">Genre</label>
    <input type="text" id="defaultFormRegisterNameEx" class="form-control">


    <label for="defaultFormRegisterNameEx" class="grey-text">Publisher</label>
    <input type="text" id="defaultFormRegisterNameEx" class="form-control">


        <label for="defaultFormRegisterNameEx" class="grey-text">Language</label>
    <input type="text" id="defaultFormRegisterNameEx" class="form-control">
    

        <label for="defaultFormRegisterNameEx" class="grey-text">Publishing year</label>
    <input type="text" id="defaultFormRegisterNameEx" class="form-control">
    
        <label for="defaultFormRegisterNameEx" class="grey-text">Page count</label>
    <input type="text" id="defaultFormRegisterNameEx" class="form-control">
    


        <label for="defaultFormRegisterNameEx" class="grey-text">Book font</label>
    <input type="text" id="defaultFormRegisterNameEx" class="form-control">
    
    <br>

    

    <div class="text-center mt-4">
        <button class="btn btn-unique" type="submit">Add book!</button>
    </div>
</form>
</div>
</div>
<!-- Default form register -->