
<div class="col-lg-7 col-md-12 offset-lg-2 wow fadeInDown mb-5 mt-5">
    <div class="card card-cascade wider">
      <div class="view gradient-card-header blue-gradient p-3">
        <h4 class="h2 mb-0">Change password</h4>
      </div>
      <div class="card-body ">
        
        <form class="mt-5 pt-5">
            <div class="form-group row d-flex">
                <p class="label col-md-4 pt-2 form-control-lg">Current password</p>
                <div class="col-md-8">
                    <input class="form-control pt-0 form-lg form-control-lg" id="Title" type="text">
                </div>
            </div>

            <div class="form-group row d-flex">
                <p class="label col-md-4 pt-2 form-control-lg">New password</p>
                <div class="col-md-8">
                    <input class="form-control pt-0 form-lg form-control-lg" id="Title" type="text">
                </div>
            </div>

            <div class="form-group row d-flex">
                <p class="label col-md-4 pt-2 form-control-lg">Confirm new password</p>
                <div class="col-md-8">
                    <input class="form-control pt-0 form-control-lg" id="Title" type="text">
                </div>
            </div>        

          <div class="text-right mb-5 pb-5">
            <button class="btn btn-danger waves-light">Cancel</button>
            <button class="btn success-color-dark waves-light">Create employee</button>
          </div>
          
        </form>
        
      </div>
    </div>
  </div>