    <div class="container-fluid">

        <section>

            <div class="row">
                <div class="col-sm-6 offset-sm-3 text-center">
                    <h1 class="display-1"><strong>Welcome To the Book Cave Managing Panel!</strong></h1>
                </div>
            </div>

        </section>

    </div>