<div class="container body-container wow fadeIn">

    <div class="card container">
        <h1>About Us</h1>

        <p>We are a group in Reykjavík University doing a project called Book Cave where we made a webpage for selling books.</p>
        <p>The course name is: <strong>Verklegt Námskeið 2 (SC-T-220-VLN2)</strong></p>
        <p>Our group number is 16 and consists of:</p>
        <ul>
            <li>Árni Magnússson</li>
            <li>Daniel Már Bonilla</li>
            <li>Daníel Ekaphan Valberg</li>
            <li>Jón Einar Jóhannsson</li>
            <li>Viktor Sveinsson</li>
        </ul>
        
        <p>Our teachers:</p>
        <ul>
            <li>Arnar Leifsson</li>
            <li>Björgvin B. Björgvinsson</li>
        </ul>
        <p>Teachure's assistant:</p>
        <ul>
            <li>Alex Már Gunnarsson</li>
        </ul>

        <a asp-controller="Home" asp-action="Index" type="button" class="btn btn-default btn-lg btn-block mt-1 mb-1">Go to home page</a>
    </div>

</div>