<div class="container body-container wow fadeIn">

    <div class="card container">
        <h1>Contact Us</h1>

        <p>Since we are not a real company you cannot contact us. We are really sorry about this.</p>
        <p>If this site is ever to be active we will give you our contact information.</p>
        <p>Cheers! Hope you like our page!</p>

        <a asp-controller="Home" asp-action="Index" type="button" class="btn btn-default btn-lg btn-block mt-1 mb-1">Go to home page</a>
    </div>

</div>