<div class="container body-container wow fadeIn">

    <div class="card container">

        <h1 class="text-danger">Error</h1>
        <h2 class="text-danger">An error occurred while processing your request.</h2>

        <p>If the problem persists please contact us.</p>
        
        <a asp-controller="Home" asp-action="Index" type="button" class="btn btn-default btn-lg btn-block mt-1 mb-1">Go to Homepage</a>
    </div>

</div>

