@model List<BookCave.Models.ViewModels.BookListViewModel>
<div class="container pt-5">
    <section class="section my-5">
        <div class="table-responsive">
            <table class="table product-table text-center">
                <thead>
                    <tr>
                        <th></th>
                        <th class="font-weight-bold">
                            <strong>Title</strong>
                        </th>
                        <th class="font-weight-bold">
                            <strong>Type</strong>
                        </th>
                        <th class="font-weight-bold">
                            <strong>Price</strong>
                        </th>
                        <th class="font-weight-bold">
                            <strong>Quantity</strong>
                        </th>
                        <th class="font-weight-bold">
                            <strong>Amount</strong>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var book in Model)
                    {
                   <tr>
                        <td></td>
                        <td>@book.Title</td>
                        <td>@book.Type</td>
                        <td><span id="price"></span></td>
                        <td class="md-form text-center text-sm-center">
                            <button class="btn btn-sm btn-primary btn-rounded waves-effect waves-light" id="incrementQty">+</button>
                            <input type="text" class="text-center col-md-1" id="qty" value="1">
                            <button class="btn btn-sm btn-primary btn-rounded waves-effect waves-light" id="decrementQty">-</button>
                        </td>
                        <td><span id="amount"></span></td>
                        <td>
                            <button type="button" class="btn btn-sm btn-danger waves-effect waves-light">X</button>
                        </td>
                   </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
    <div class="container">
        <h4 class="mt-2">Total</h4>
        <span></span>
        <button type="button" class="btn btn-primary btn-rounded waves-effect waves-light">Complete purchase</button>
    </div>
</div>