.table-wrapper {
    display: block;
    max-height: 300px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.border-top-nav {
    border-top: 1px solid rgba(153,153,153,.298039);
}

.table-fit {
    white-space: normal;
}