@model List<BookCave.Models.ViewModels.BookViewModel>
@section scripts {
     <script type="text/javascript" src="~/js/rater.js"></script>
     <script type="text/javascript" src="~/js/BookDetailsJS.js"></script>
}
<div class="container body-container card pb-5">
    <div class="row animated fadeIn">
        <div class="col-12">
            <h1 class="display-2 text-center my-5"><strong>Top 10 Books</strong></h1>
            <h2 class="display-4 text-center my-5"><strong>There are currently no Top 10 list available.... please check again another time</strong></h2>
        </div>
    </div>
</div>

