.navbar .mega-dropdown {
    position: static !important;
}

.navbar .dropdown-menu.mega-menu {
    width: 100%;
    border: none;
    border-radius: 0;
}

.navbar .dropdown-menu.mega-menu.v-2 a {
    padding: 15px 10px 10px 35px;
}

.navbar .dropdown-menu.mega-menu.v-2 a.news-title-2 {
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.5;
    -webkit-transition: .2s;
    transition: .2s;
    color: #fff !important;
}

.navbar .dropdown-menu.mega-menu.v-2 a.news-title-2:hover {
    color: #d0d6e2 !important;
}

.navbar .dropdown-menu.mega-menu.v-2 .sub-menu ul {
    list-style: none;
}

.navbar .dropdown-menu.mega-menu.v-2 .sub-menu ul.caret-style li {
    -webkit-transition: .3s;
    transition: .3s;
}

.navbar .dropdown-menu.mega-menu.v-2 .sub-menu ul.caret-style li:hover {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transition: .3s;
    transition: .3s;
}

.navbar .dropdown-menu.mega-menu.v-2 .sub-menu ul.caret-style li a:after {
    font-family: "fontAwesome";
    content: '\f0da';
    position: absolute;
    left: 0.5rem;
    font-size: 12px;
    top: 1rem;
}

.navbar .dropdown-menu.mega-menu.v-2 .sub-menu a.menu-item {
    color: #fff !important;
}

.navbar .dropdown-menu.mega-menu.v-2 .sub-menu a.menu-item:hover {
    color: #fff !important;
}

.navbar .dropdown-menu.mega-menu.v-2 .sub-title {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid;
}

.navbar .dropdown-menu.mega-menu.v-2 .font-small {
    font-size: 0.85rem;
}

.view,
body,
html {
    height: 100%
}

@media (max-width:740px) {
    .full-page-intro {
        height: 1000px
    }
}

.carousel {
    height: 50%
}

.carousel .carousel-inner,
.carousel .carousel-inner .active,
.carousel .carousel-inner .carousel-item {
    height: 100%
}

@media (max-width:776px) {
    .carousel {
        height: 100%
    }
}

.navbar {
    background-color: rgba(0, 0, 0, .3);
}

.page-footer,
.top-nav-collapse {
    background-color: #1C2331
}

@media only screen and (max-width:768px) {
    .navbar {
        background-color: #1C2331
    }
}

html,
body,
header,
.carousel {
    height: 60vh;
}

@media (max-width: 740px) {
    html,
    body,
    header,
    .carousel {
        height: 100vh;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .carousel {
        height: 100vh;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #929FBA !important;
    }
}

.navbar img {
    height: 3rem;
}


.nav-search {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.fa-search {
    color: white;
}

.btn-sea {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.btn-font-size {
    padding: 2px;
    font-size: 0.75em;
}

.payment-img {
    width: 100%;
    height: auto;
}

.thumb {
    max-height: 200px;
    width: auto;
    max-width: 200px;

    margin-left: auto;
    margin-right: auto;
}

.align-div-right {
    margin-left: auto; 
    margin-right:0;
}

