@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using BookCave.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}
 
 <!-- SideNav slide-out button -->
  <a href="#" data-activates="slide-out" class="btn btn-primary p-3 button-collapse mb-0 animated fadeIn">
      <i class="fa fa-bars"></i>
  </a>


  <!-- Sidebar navigation -->
  <div id="slide-out" class="side-nav fixed animated fadeIn sn-bg-2">
      <ul class="custom-scrollbar list-unstyled">              
            @if (SignInManager.IsSignedIn(User))
            {
                <p class="pl-3 pt-3">Logged in as: @user.FirstName @user.LastName </p>
            }
            else
            {
                <p class="pl-3 pt-3">You are not logged in!</p>
            }
          
          <li class="text-center mt-4 mb-5 p-5" ><a asp-action="index" class="pl-0" ><img class="img-fluid" src="~/images/logo.png" alt="book cave logo"></a></li>
          
          <li class="mt-5">
            <ul class="collapsible collapsible-accordion">
                <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-book"></i> Books<i class="fa fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a asp-controller="manage" asp-action="addbook" class="waves-effect">Add books</a>
                            </li>
                            <li>
                                <a asp-controller="manage" asp-action="viewbooks" class="waves-effect">View books</a>
                            </li>
                        </ul>
                    </div>
                </li>
                
                @if (this.User.IsInRole("Admin"))
                {
                <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-user-secret"></i> Employees<i class="fa fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a asp-controller="manage" asp-action="addemployee" class="waves-effect"><i class="fa fa-user-plus"></i>Create new employee</a>
                            </li>
                            <li>
                                <a asp-controller="manage" asp-action="viewemployeeslist" class="waves-effect"><i class="fa fa-users"></i>View employees</a>
                            </li>
                        </ul>
                    </div>
                </li>
                }

            </ul>
        </li>

        <li class="fixed-bottom">
            <ul class="collapsible collapsible-accordion">
                <li><a asp-controller="manage" asp-action="changepassword" class="collapsible-header waves-effect"><i class="fa fa-magic"></i> Change password</a></li>
                <li><a class="collapsible-header waves-effect red darken-4" asp-controller="User" asp-action="LogOut"><i class="fa fa-sign-out"></i> Sign out</a></li>
            </ul>
        </li>
        
      </ul>

       <div class="sidenav-bg mask-strong"></div>
  </div>

